// ============================================
// APP: Component - Projects
// ============================================

#projects {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .project-item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex: 1;
    gap: 120px;
    font-size: 14px;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    .project-date {
      margin: 0;

      .project-type {
        color: #fff;
        opacity: 0.5;
        margin-left: 45px;
        transition: opacity 150ms linear;
      }
    }

    .project-link {
      border: 0;
      font-size: 22px;
      transition: border-color 150ms linear;
      border-bottom: 1px solid rgba(255 255 255 / 0.4);

      div {
        transition: opacity 150ms linear;
      }

      &:hover {
        border-color: rgba(255 255 255 / 0);

        div {
          opacity: 0.5;
        }

        & + .project-date {
          .project-type {
            opacity: 1;
          }
        }
      }
    }
  }
}
