// ============================================
// APP
// ============================================
@charset 'utf-8';

// App : Base
@use "base/normalize";
@use "base/common";
@use "base/typography";
@use "base/main";

// App : Components
@use "components/header";
@use "components/webgl";
@use "components/footer";

#projects {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .project-item {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    gap: 150px;
    font-size: 14px;

    .project-type {
      font-size: 14px;
      opacity: 0.5;
      flex-grow: 1;
    }

    .project-link {
      flex-shrink: 1;
      border: 0;
      font-size: 22px;
      transition: border-color 150ms linear;
      border-bottom: 1px solid rgba(255 255 255 / 0);

      div {
        transition: opacity 150ms linear;
      }

      &:hover {
        border-color: rgba(255 255 255 / 0.7);
        div {
          opacity: 0.75;
        }
      }
    }
  }
}
