// ============================================
// APP: Base - Common
// ============================================

:root {
  --base-size: 2.5em;
  --base-color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--base-color);

  a {
    color: var(--base-color);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--base-color);

    &:hover {
      border: none;
    }
  }

  body {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;

    &.paused {
      background-color: rgba(0 0 0 / 0.9);
      pointer-events: none;

      &::after {
        z-index: 9999;
        font-size: 45px;
        color: white;
        content: "Paused";
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        left: 0;
        display: block;
      }
      canvas {
        opacity: 0.1;
      }
    }
  }
}
