// ============================================
// APP: Base - Utils
// ============================================

// Classes
.clearfix {
  overflow: auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

// Extend

// Functions

// Mixins
@mixin picture-scale($h, $url) {
  position: relative;
  display: block;
  min-height: $h;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

@mixin picture($w, $h, $url) {
  position: relative;
  display: block;
  width: $w;
  height: $h;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: $w $h;
  text-indent: -9999px;
}
